*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: #333;
  font-weight: 500;
}

header,
footer {
  height: 6rem;
  background-color: #111;
  color: aliceblue;
}

h1 {
  font-size: 3.6rem;
  margin-bottom: 2rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
}

.logo {
  border-radius: 50%;
  border: 2px solid wheat;
  padding: 1.5rem;
  width: max-content;
}

.header-container > ul {
  display: flex;
  list-style: none;
  gap: 1.6rem;
}

.header-container a {
  text-decoration: none;
  color: aliceblue;
}

.row {
  max-width: 80%;
  margin: 0 auto;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 2rem;
}

.item {
  background-color: blue;
}

@media (max-width: 500px) {
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }

  .row {
    max-width: 90%;
  }
}
