*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: #333;
  font-weight: 500;
}

header,
footer {
  height: 6rem;
  background-color: #111;
}

h1 {
  font-size: 3.6rem;
  margin-bottom: 2rem;
}

.row {
  max-width: 80%;
  margin: 0 auto;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 3rem;
}

.item {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.img{
  width:fit-content;
  height: 3rem;
}
.name{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fa-heart{
  font-size: 3rem;
}
.likes{
  align-self: flex-end;
}
.comment{
  font-size: 2rem;
  padding: 0.5rem 1.5rem;
}
@media (max-width: 500px) {
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }

  .row {
    max-width: 90%;
  }
}
